header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    color: #901c1c;
    font-size: 36px;
    line-height: 47px;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      order: 2;
      font-size: 10px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  @media screen and (max-width: 600px) {
    order: 1;
  }
}
img {
  width: 200px;
  @media screen and (max-width: 600px) {
    width: 100px;
  }
}

nav {
  @media screen and (max-width: 600px) {
    order: 3;
  }
}

.tags {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  .tag {
    list-style-type: none;
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
  }
  a {
    text-decoration: none;
    color: #901c1c;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 6px;
    display: flex;
    @media screen and (max-width: 600px) {
      font-size: 9px;
      padding: 0px 6px;
    }
  }
}
